= simple_form_for(@battle) do |f|
  - if @battle.errors.any?
    #error_explanation
      %h2
        = pluralize(@battle.errors.count, "error")
        prohibited this battle from being saved:
      %ul
        - @battle.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label "Singer Numba Won"
    = f.input :singer1, collection: User.all, value_method: :name
  .field
    = f.label "S1 Photo"
    = f.file_field :avatar
  .field
    = f.label "Singer Numba Two"
    = f.input :singer2, collection: User.all, value_method: :name
  .field
    = f.label "S2 Photo"
    = f.file_field :photo
  .actions
    = f.submit
