.login_wrap
  %h1 Previous Battles
  %table
    %thead
      %tr
        %th S1
        %th Votes
        %th S2
        %th Votes
        %th{:colspan => "1"}
    %tbody
      - @battles.each do |battle|
        %tr
          %td= battle.singer1
          %td= battle.get_upvotes.size
          %td= battle.singer2
          %td= battle.get_downvotes.size
          %td= link_to 'Delete', battle, method: :delete, data: { confirm: 'Are you sure?' }, class: :btns
  %br
    = link_to 'New Battle', new_battle_path, class: :btns
    = link_to 'Home', root_path, class: :btns
