<div class="login_wrap">

<h1>Previous Battles</h1>

<table>
  <thead>
    <tr>
      <th>Singer1</th>
      <th>Singer1 Votes</th>
      <th>Singer2</th>
      <th>Singer2 Votes</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @battles.each do |battle| %>
      <tr>
        <td><%= battle.singer1 %></td>
        <td><%= battle.get_upvotes.size %></td>
        <td><%= battle.singer2 %></td>
        <td><%= battle.get_downvotes.size %></td>
        <td><%= link_to 'Delete', battle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Battle', new_battle_path %>
<%= link_to 'Home', root_path %>
</div>
